body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor_calculadora{
    background-color: #b6b6b6;
    padding: 2rem;
    width:50vw;
    display: flex;
    flex-direction: column;

}

input{
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
}

.input2{
    margin-bottom: 1rem;
}

.buttons_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-template-rows: repeat(5, 60px);  /* 5 filas */
    gap: 10px;
}
spam{
    grid-column: span 4;
    text-align: right;

}
